@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
<h1>Dwyane Allen F. Dela Cruz</h1>
<h1>20241141071</h1>
<h1>NAKAKAINIS SOBRA TANGINA NITONG ACTIVITY NA 'TO</h1>
<h1>TANGINA APAKA HIRAP NAKAKAINIS KA SIR</h1>
<h1> WELCOME SA MUNDO NG KUPAL!</h1>
